.background {
    background-size: cover;
    background-position: top;
    position: relative;
    height: 95vh;

    &--home {
        background-image: url("../../public/nasa-yZygONrUBe8-unsplash.jpg");
        
    }

    &--apod {
        background-image: url("../../public/nasa-5477L9Z5eqI-unsplash.jpg");
        
    }

    &--asteroids {
        background-image: url("../../public/nasa-Q1p7bh3SHj8-unsplash.jpg");
    }

    &--rover {
        background-image: url("../../public/nasa-n463SoeSiVY-unsplash.jpg");
    }
}