// Colors
$tan: #B68D40;
$cream: #F4EBD0;
$charcoal: #122620;
$gold: #D6AD60;
$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;
$shuttle-gray: #526171;
$geyser: #D1DADF;
$heather: #B4C1CA;
$nepal: #97AEC6;

$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;