.list-box {
    height: 40rem;
    overflow-y: auto;

    &__backgroundColor {
        background-color: #ffffff6e;
    }
    &__neo-date {
        font-size: medium;
        font-weight: 600;
        color: $shuttle-gray;

        &--count {
            margin-left: 5rem;
            font-size: large;
            font-weight: 400;
            color: $nepal;
            padding-left: 1rem;
            text-align: center;
        }
    }
}

.list-group-item+.list-group-item {
    border-top-width: 1px;
    border-radius: 0.5rem;
}

.asteroid-list {

    &__item {
        margin: 1rem;
        padding: 2rem 2rem;
        border-top: 1px solid lightgrey;

        &--content {
            display: flex;
            justify-content: space-evenly;
        }
    }
}